<div id="skills">
	<div class="container">
		<div class="row centered mt grid">
			<h3>Projects I'm Working On</h3>
			<div class="mt"></div>
			<div class="col-lg-4">
				<a target="_blank" href="http://www.rapolitics.com"><%= image_tag 'rapolitics.png' %></a>
				<h3>Rapolitics</h3>
			</div>
			<div class="col-lg-4">
				<a target="_blank" href="http://startc.lt/"><%= image_tag 'startclt.png' %></a>
				<h3>StartCLT</h3>
			</div>
			<div class="col-lg-4">
				<a target="_blank" href="http://techtalentsouth.com"><%= image_tag 'tts.png' %></a>
				<h3>Techtalentsouth.com</h3>
			</div>
		</div>
		
		<div class="row mt centered">
			<div class="col-lg-7 col-lg-offset-1 mt">
					<p class="lead">I'm primarily a Ruby on Rails developer and instructor, but love playing around with other front-end languages and frameworks like <%= link_to 'Middleman!', "https://middlemanapp.com/", target: "_blank" %> If you are looking to learn how to code, needing advice on Ruby, or just want to chat drop me a line!</p>
			</div>
			
			<div class="col-lg-3 mt">
				<p><a href="mailto:zacharykirchin@gmail.com?Subject=kirch.in%20contact"><button type="button" class="btn btn-theme btn-lg">Email Me!</button></a></p>
			</div>
		</div>
	</div>
</div>