<div id="green">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 centered">
					<%= image_tag "zack.png", class: "about_img" %>
				</div>
				
				<div class="col-lg-7 centered">
					<h3>About Zack</h3>
					<p>I'm the Director of Product and Curriculum for a great startup in the Southeast United States, called Tech Talent South. Through TTS I get to play developer, teacher, and mentor all while meeting the best people in the tech/startup community in Charlotte, NC.<br>
					
					Carolina born and bred is almost an understatement... I was born and have lived in the Charlotte area my entire life, I graduated from UNC-Chapel Hill with a degree in Journalism, and live for North Carolina sports (Go Heels, Go Panthers, Go Hornets, Go America).<br>

					Outside of work I enjoy spending time with my beautiful wife, Catherine, and over-excited dog, Stella. We are also trying to perfect our new home in Mooresville, NC!</p>
				</div>
			</div>
		</div>
	</div>