<div class="container">
	<div class="row centered">
		<!-- <div class="col-lg-8 col-lg-offset-2"> -->
			<h3>Where you can find me!</h3>
			<div class="row centered">
				<a href="http://techtalentsouth.com" target="_blank"><%= image_tag 'TTSlogo.png', class: "col-md-3 col-md-offset-2" %></a>
				<a href="http://www.codeforcharlotte.org"><%= image_tag 'codeforclt.png', class: "col-md-3 col-md-offset-2" %></a>
			</div>
	</div>
</div><!-- /container -->