<div id="f">
	<div class="container">
		<div class="row">
			<p><a target="_blank" href="http://weloveclt.com/"><%= image_tag "weloveclt.png" %></a></p>
			&#169;<%= Date.today.year %> kirch.in. All rights reserved.
		</div>
	</div>
</div>