<div class="android-be-together-section mdl-typography--text-center" style="height: auto;">
  <h1 class="android-font android-slogan">Zack Kirchin</h1>
  <h2 class="android-font android-sub-slogan">Tarheel, Developer, Techie, Instructor, Panther Fanatic</h2>

  <a href="#about">
    <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" style="right: auto; bottom: auto; position: static;">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
</div>
