<div id="hello">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8 col-lg-offset-2 centered">
    			<h1>Zack Kirchin</h1>
    			<h2>Tarheel, Ruby Instructor, Techie, Delusional DIYer, Panther Fanatic</h2>
    		</div><!-- /col-lg-8 -->
    	</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /hello -->