<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
    <li class="navbar-brand"><a href="/">Kirch.in</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-brand"><a target="_blank" href="https://twitter.com/zkirchin"><i class="fa fa-twitter"></i></a></li>
        <li class="navbar-brand"><a target="_blank" href="https://www.linkedin.com/in/zkirchin"><i class="fa fa-linkedin"></i></a></li>
        <li class="navbar-brand"><a target="_blank" href="https://plus.google.com/+ZacharyKirchin"><i class="fa fa-google-plus"></i></a></li>
        <li class="navbar-brand"><a target="_blank" href="http://instagram.com/zkirchin"><i class="fa fa-instagram"></i></a></li>
        <li class="navbar-brand"><a target="_blank" href="https://github.com/zkirchin"><i class="fa fa-github"></i></a></li>
      </ul>
  </div>
</div>