---
title: Zachary Kirchin - Ruby Developer, Charlotte Techie
---


<%= partial 'hello' %>

<div id="about"></div>	
<%= partial 'about' %>

<div id="find-me"></div>
<%= partial 'findme' %>

<div id="portfolio"></div>
<%= partial 'portfolio' %>